# SPDX-License-Identifier: BSD-3-Clause

name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v2

      - name: Compile all skels
        run: utils/skel_compile_all.sh
